.text_{
    color: red; text-align: center;
}
.main-slide-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.product-card {
      border: 1px solid #ddd;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      overflow: hidden;
      background-color: #fff;
    }

    .discount-tag {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: red;
      color: white;
      padding: 2px 8px;
      font-size: 0.8rem;
      font-weight: bold;
      border-radius: 5px;
      font-size: 20px;
    }

    .product-img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    .price {
      font-weight: bold;
      color: red;
      font-size: 1.2rem;
    }

    .original-price {
      text-decoration: line-through;
      color: #888;
      font-size: 0.9rem;
    }

    .brand {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-size: 0.9rem;
      color: #444;
      position: absolute;
      right: 5px;
      top: 10px;
    }

    .favorite-icon {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 1.2rem;
      color: gray;
      cursor: pointer;
    }

    .product-name {
      font-size: 0.95rem;
    }